@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student;
<h1 class="display-6">Create A New Student</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddStudent" asp-controller="Student" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col">
            <label asp-for="StudentFirstName"></label>
            <input class="form-control" asp-for="StudentFirstName">
        </div>

        <div class="form-group col">
            <label asp-for="StudentProfilePhoto"></label>
            <input class="form-control" asp-for="StudentProfilePhoto" type="file">
        </div>
    
        <div class="form-group col">
            <label asp-for="StudentLastName"></label>
            <input class="form-control" asp-for="StudentLastName">
        </div>
    </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email">
        </div>
    <div class="row">
        <div class="form-group col">
            <label asp-for="DateEnrolled"></label>
            <input class="form-control" asp-for="DateEnrolled">
        </div>
        <div class="form-group col">
            <label asp-for="StudentCourse"></label>
                <select class="form-control form-select" asp-items="@Html.GetEnumSelectList(typeof(Course))" aria-describedby="CourseHelp" placeholder="Select Student Course" asp-for="StudentCourse">
                </select>
        </div>
    
        <div class="form-group col">
            <label asp-for="GPA"></label>
            <input class="form-control" asp-for="GPA">
        </div>

        <div class="form-group col">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber">
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
</form>